.contain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.centrebox {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 10px;
  width: 20vw;
  height: 30vw;
}

.card {
  width: 5vw;
  padding: 5px 5px;
  border: 1px solid black;
}
